In [1]:
nomes_cidades = ['Sao paulo', 'Londres', 'Toquio', 'Paris']
for nome in nomes_cidades:
    print(nome)

Sao paulo
Londres
Toquio
Paris

In [2]:
#exemplo para verificar como ficaria o for superior substituido por um while

contador = 0
nomes_cidades = ['Sao paulo', 'Londres', 'Toquio', 'Paris']
while contador < len(nomes_cidades):
    print(nomes_cidades[contador])
    contador = contador + 1

Sao paulo
Londres
Toquio
Paris

In [3]:
nomes_cidades = 'Sao paulo', 'Londres', 'Toquio', 'Paris'
for nome in nomes_cidades:
    print(nome)

Sao paulo
Londres
Toquio
Paris

In [6]:
cidade = {
    'nome': 'Sao paulo',
    'estado': 'Sao paulo',
    'populacao_milhoes': 12.2
}
for chave in cidade:
    print(f'{chave}: {cidade[chave]}')

nome: Sao paulo
estado: Sao paulo
populacao_milhoes: 12.2

In [7]:
nomes_cidades = ['Sao paulo', 'Londres', 'Toquio', 'Paris']
for nome in nomes_cidades:
    nome= 'Rio de janeiro'
print(nomes_cidades)

['Sao paulo', 'Londres', 'Toquio', 'Paris']

In [10]:
for posicao in range(len(nomes_cidades)):
    nomes_cidades[posicao] = 'Rio de janeiro'
print(nomes_cidades)

['Rio de janeiro', 'Rio de janeiro', 'Rio de janeiro', 'Rio de janeiro']

In [11]:
print(list(range(10)))
print(list(range(2,10)))
print(list(range(2, 10, 2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7, 8, 9]
[2, 4, 6, 8]